{# partials/footer.html #}
    <footer>
    	<div class="container mt-sm-3 mb-sm-3">
	        <div class="row">
	            <div class="col-md-3">
	                <p>GameLogo &copy; Copyright 2017</p>
	                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	            </div>
	            <div class="col-md-3">
	                <h5>Company</h5>
	                <ul class="menu vertical">
	                    <li><a href="#">About Us</a></li>
	                    <li><a href="#">Contact Us</a></li>
	                    <li><a href="#">Privacy Policy</a></li>
	                    <li><a href="#">Site Map</a></li>
	                </ul>
	            </div>
	            <div class="col-md-3">
	                <h5>Support</h5>
	                <ul class="menu vertical">
	                    <li><a href="#">Knowledgebase</a></li>
	                    <li><a href="#">Support Forum</a></li>
	                    <li><a href="#">Documentation</a></li>
	                    <li><a href="#">Ticket System</a></li>
	                </ul>
	            </div>
	            <div class="col-md-3">
	                <span class="faded faded-all faded-narrow"><img class="img-fluid game-logo" src="img/game-logo2.png"></span>
	            </div>
	        </div>
    	</div>
    </footer>